@import "tailwindcss";

body {
    background-color: #030712; 
    background-image: radial-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 24px 24px;
}

html {
    scroll-behavior: smooth;
    font-size: 19.2px;
}

.section {
    @apply max-w-5xl mx-auto mt-16 px-6;
}

.job-card, .highlighted-job-card {
    @apply max-w-5xl mx-auto mt-6 px-6 py-5 rounded-2xl
    border border-slate-900 bg-slate-900/30 backdrop-blur-sm shadow-sm
    transition-all duration-300 hover:border-slate-800 hover:bg-slate-900/60;
}

.highlighted-job-card {
    @apply border-blue-950 bg-blue-950/10 hover:border-blue-900/40 hover:bg-blue-950/20;
}

.sorting-button, .selected-sorting-button {
    @apply border border-slate-900 bg-slate-900/30 backdrop-blur-sm shadow-sm rounded-3xl
    transition-all duration-300 hover:border-slate-800 hover:bg-slate-900/60
    flex items-center justify-center w-fit px-3 py-0.25
    font-mono font-medium text-slate-500 text-sm
    hover:cursor-pointer;
}

.selected-sorting-button {
    @apply border-blue-950 bg-blue-950/30 hover:border-blue-900/40 hover:bg-blue-950/20;
}

/* --- UI COMPONENTS --- */
.navbar {
    @apply flex items-center gap-8 fixed top-0 left-0 w-full z-50
    px-6 py-2 bg-slate-950/60
    border-b border-slate-900 backdrop-blur-xl shadow-lg shadow-black/20;
}

.navbutton {
    @apply text-sm font-mono font-medium
    text-slate-400
    tracking-tight
    hover:text-blue-400 hover:-translate-y-[1px]
    transition-all ease-out duration-200
    cursor-pointer
    will-change-transform;
}

.navtext {
    @apply font-mono font-medium
    text-slate-500
    tracking-tight
    hover:text-slate-400 hover:-translate-y-[1px]
    transition-all ease-out duration-200
    cursor-pointer
    will-change-transform;
}

/* --- TYPOGRAPHY --- */
.header-text {
    @apply text-3xl font-bold text-slate-50 tracking-tight;
}

.subheader-text {
    @apply text-xl font-semibold text-slate-200 -my-1;
}

.paragraph-text {
    @apply text-slate-300 font-normal leading-relaxed text-[0.85rem] max-w-2xl;
}

.mini-text {
    @apply text-slate-400 font-mono tracking-wide text-xs;
}